@import "../../sass/variables";
@import "../../sass/components";

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-left {
  .logo {
    padding-left: 20px;
    height: 49px;
    width: 47px;
    margin-left: 177px;
    margin-top: 20px;
  }
}

.nav-middle {
  margin-top: 35px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  height: 42px;
  width: 157px;
  margin-top: 23px;
  margin-right: 165px;
}
